.progressbar {
    border: 1px solid $sub-color;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    &__strip {
        width: 50%;
        height: 100%;
        background-color: $sub-color;
        &_green {
            width: 70%;
            background-color: $main-color-2;
        }
        &_violet {
            width: 30%;
        }
    }
}